<div class="row botton-detalle" >
    <div class="col-md-12">
      
     
        <div class="card bg-dark text-white" >
            <img [src]="heroedetalle.avatar" height="400px" class="card-img" alt="...">
            <div class="card-img-overlay">
              <h5 class="card-title nombre-detalle">{{heroedetalle.name | uppercase}}</h5>
              <div class="descripcion-detalle">{{heroedetalle['description']}}
                <h2>Ironman? </h2> 
                <p>Lorem ipsum dolor sit amet, id viris ceteros eos, ludus scripserit referrentur id sea, per vide erant simul an. Ponderum dissentiet mel ne, ius elit animal pertinacia ne, vim cu labores referrentur. Ei vix choro consequat.
                </p>
                <br>¿Cúal es tu voto?<br>
                  <div class="vote__buttons">
                    <button class="btn btn-outline-primary vote__button">
                      dedo arriba
                    </button>
                    <button class="btn btn-outline-primary vote__button">
                      dedo bajo
                    </button>
                  </div>
              </div>
            
            </div>
         </div>
    </div>
</div>


